<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>COMP 426 Chatroom</title>

        <!-- Include links to CSS stylesheets below -->
        <link rel="stylesheet" href="css/style.css" />
    </head>


    <body>
        <main>
            <h1 class="title">
                Test Http Requests
            </h1>

            <h3>
                This page is for testing Chatroom API.
            </h3>

            <div class="code">const result = await axios({<textarea id="prompt" rows="1" autofocus="autofocus"></textarea>});</div>

            <button id="button" onclick="sendRequest()">Send request</button>

            <div id="message"></div>
            <div id="response"></div>
        </main>


        <!-- Include links to JavaScript files below -->
        <script src="node_modules/axios/dist/axios.min.js"></script>
        <script src="js/script.js"></script>
        <script src="css/unit-test.js"></script>
    </body>
</html>